<!DOCTYPE html>
<html>
  <%- include('./partials/head.ejs')%>
<body>

  <%- include('./partials/nav.ejs')%>
  
  <div align="center">
	<img src="immagini/FOTOOOOO/VIOLINO6.jpg" alt="Carlo_stefano" style="width:100%">
</div>

<div id = "titolo"> 
	<h2 id = "titolo_testo">chi è Carlo Chiesa</h2>
</div>

<!-- START THE FEATURETTES -->

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">dire qualcosa su di te. <span class="text-muted">La vita lunga ecc eccc.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5" style="margin-top: 40px; margin-bottom: 40px;">
    <img class="featurette-image img-responsive center-block" src="immagini/FOTOOOOO/PAPA6.jpg" alt="error">
  </div>
</div>
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 col-md-push-5">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5 col-md-pull-7" style="margin-top: 140px; margin-bottom: 40px;">
    <img class="featurette-image img-responsive center-block" src="immagini/FOTOOOOO/PAPA7.jpg" alt="">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7" style="margin-top: 40px; margin-bottom: 40px;">
    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>
  <div class="col-md-5" >
    <img class="featurette-image img-responsive center-block" src="immagini/FOTOOOOO/PAPA8.jpg" alt="Generic placeholder image">
  </div>
</div>


<%- include('./partials/pie.ejs')%>

</body>
</html>