<!DOCTYPE html>
<html>
	<%- include('./partials/head.ejs')%>

<body>

<%- include('./partials/nav.ejs')%>

<div align="center">
	<img src="immagini/FOTOOOOO/VIOLINO4.jpg" alt="Carlo_stefano" style="width:100%">
</div>

<div id = "titolo"> 
	<h2 id = "titolo_testo">strumenti</h2>
</div>


<div class="container gallery-container">
	<div class="tz-gallery">

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/VIOLINO3.jpg">
					<img src="immagini/FOTOOOOO/VIOLINO3.jpg" alt="">
				</a>    
			</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/VIOLINO2.jpg">
					<img src="immagini/FOTOOOOO/VIOLINO2.jpg" alt="">
				</a>    
			</div>
		</div>
	
		<div class="col-sm-6 col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/VIOLINO1.jpg">
					<img src="immagini/FOTOOOOO/VIOLINO1.jpg" alt="">
				</a>    
			</div>
		</div>



		<div class="col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/TESTA1.jpg">
					<img src="immagini/FOTOOOOO/TESTA1.jpg" alt="">
				</a>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/TESTA2.jpg">
					<img src="immagini/FOTOOOOO/TESTA2.jpg" alt="">
				</a>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/TESTA1.jpg">
					<img src="immagini/FOTOOOOO/TESTA1.jpg" alt="">
				</a>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>
		
		<div class="col-md-4">
			<div class="thumbnail">
				<a class="lightbox" href="immagini/FOTOOOOO/TESTA2.jpg">
					<img src="immagini/FOTOOOOO/TESTA2.jpg" alt="">
				</a>
				<div class="caption">
					<h3>Thumbnail label</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				</div>
			</div>
		</div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>

<%- include('./partials/pie.ejs')%>

</body>
</html>